
main {    
    height: 100vh;
}#home-name {
    margin: 1rem;
    font-family: "Kaushan Script"; 
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: -0.8rem;
    display: flex;
    justify-content: center;
    cursor: default;
    text-shadow: #00000099 0px 0px 5px;
}
@media (pointer: fine) {    
    #home-name:hover {
        text-shadow: #ffffff99 0px 0px 5px;
        color: #ffffff;
        transition: 400ms;
    }
    
}
@media (max-width: 1024px)  /*Laptop to 4k*/ {

}
#secret-btn {
    opacity: 0;
    cursor: pointer;
    margin: 2rem;
    font-size: 0.5rem;
}
#secret-btn:hover {
    opacity: 1;
    transition: 200ms;
}






