
main {    
    height: 100vh;
}#home-name {
    margin: 1rem;
    font-family: "Kaushan Script"; 
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: -0.8rem;
    display: flex;
    justify-content: center;
    cursor: default;
    color: #ffffff;
}






