
#home-main {    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}#home-name {
    margin: 1rem;
    font-family: "Kaushan Script"; 
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: -0.8rem;

    display: flex;
    justify-content: center;
    cursor: default;
}#home-button-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(-1rem, 1fr));
}#home-button {

    margin: 0.5rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #00000000;

    border: 1px solid #000000;
    border-radius: 100rem;

    font-family: "Arvo", serif;
    font-size: 2rem;

    color: #000000;

    text-decoration: none;
    

}#home-button:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #ffffff;
    font-size: 2rem;
    color: #ffffff;
    transition: 400ms;
    font-style: none;
    text-decoration: none; 
    background-color: #00000000;
}





@media (pointer: fine) {

    #home-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }#home-button {
    
        margin: 0.5rem;
        padding: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    
        background-color: #00000000;
    
        border: 1px solid #000000;
        border-radius: 100rem;
    
        font-family: "Arvo", serif;
        font-size: 2rem;
    
        color: #000000;
    
        text-decoration: none;
        
        max-width: 0;
        color: #00000000;
        
    
    }#home-button:hover {
        min-width: fit-content;
        cursor: pointer;
        border: 1px solid #ffffff;
        font-size: 2rem;
        color: #ffffff;
        transition: 400ms;
        font-style: none;
        text-decoration: none; 
        background-color: #00000000;
    }
}
@media (max-width: 1024px)  /*Laptop to 4k*/ {
    #home-main {    width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    
    }#home-name {
        margin: 1rem;
        font-family: "Kaushan Script"; 
        font-weight: 400;
        font-style: normal;
        font-size: 7rem;
        letter-spacing: -0.8rem;
    
        display: flex;
        justify-content: center;
        cursor: default;
    }#home-button-container {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(-1rem, 1fr));
    }#home-button {
    
        margin: 0.5rem;
        padding: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    
        background-color: #00000000;
    
        border: 1px solid #000000;
        border-radius: 100rem;
    
        font-family: "Arvo", serif;
        font-size: 2rem;
    
        color: #000000;
    
        text-decoration: none;
        min-width: fit-content;
        
    
    }#home-button:hover {
        min-width: fit-content;
        cursor: pointer;
        border: 1px solid #ffffff;
        font-size: 2rem;
        color: #ffffff;
        transition: 400ms;
        font-style: none;
        text-decoration: none; 
        background-color: #00000000;
    }
}






