
/*
#ref-home-container {
    display: flex;
    justify-content: center;
}#ref-home-button {
    margin: 4rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #00000000;
    border: 1px solid #ffffff;
    border-radius: 100rem;
    font-family: "Arvo", serif;
    font-size: 2rem;
    text-decoration: none;
    transition: 400ms;
    display: inline-flex;
    color: #ffffff;
    scale: 1.5;
}#ref-home-button:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    transition: 400ms;
    text-shadow: #000000 0px 0px 10px;
} #ref-home-button:active {
    scale: 1.25;
    color: #00ff00;
    border: 1px solid #00ff00;
    text-shadow: #00ff00 0px 0px 10px;
}
@media (pointer: fine) {
    #ref-home-button {
        color: #00000000;
        max-width: 0;
        letter-spacing: -1rem;
    }#ref-home-button:hover {
        letter-spacing: 0;
        
    }
}

*/





#ref-home-container {
    display: flex;
    justify-content: center;
}#ref-home-button {
    margin: 1rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    font-family: "Arvo", serif;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    backdrop-filter: blur(10000rem);
}#ref-home-button:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 2rem;
    color: #000000;
    transition: 400ms;
    font-style: none;
    text-decoration: none; 
    background-color: #ffffff00;

}#ref-home-button:active {
    background-color: #000000;
    color: #ffffff;
}
/*

@media (pointer: fine) {
    #ref-home-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }#ref-home-button {
      letter-spacing: -0.99999rem;
      max-width: 0;
      color: #00000000; 
    }#ref-home-button:hover {
      transition: 400ms;
      letter-spacing: 0;
    }
  }
  

*/