:root {
    --white: #ffffff;
    --black: #000000;
}
/* 

 Scrollbar ---------------------------------------------------------------------------- 

*/
::-webkit-scrollbar {
    width: 1.5rem;
    height: 1.5em;
    border-radius: 100vw;
  }::-webkit-scrollbar-track {
    margin: 0;
    background: var(--black);
    border: var(--white) 0.25rem solid;
  }::-webkit-scrollbar-thumb {
    margin: 0;
    background: var(--white);
    border: var(--black) 0.25rem solid;
  }
  