@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@media (pointer: fine) {

body {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080%2080%22%20width%3D%22100%22%20height%3D%22100%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%200%20L%2080%2080%20M%2080%200%20L%200%2080%22%20stroke%3D%22rgba(0,0,0,0.314)%22%20stroke-width%3D%221.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20fill-rule%3D%22nonzero%22%20%2F%3E%3C%2Fsvg%3E"
    ), linear-gradient(64deg, #0029FF 0%, #00DAF7 100%);
    
    /*
                                                                                                                                                    ^^^                   ^^^                              
    Orignal(512x512): 
        data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%200%20L%20512%20512%20M%20512%200%20L%200%20512%22%20stroke%3D%22rgba(0,0,0,0.314)%22%20stroke-width%3D%221.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20fill-rule%3D%22nonzero%22%20%2F%3E%3C%2Fsvg%3E
    
    Edited(80x80):
    data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080%2080%22%20width%3D%2280%22%20height%3D%2280%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%200%20L%2080%2080%20M%2080%200%20L%200%2080%22%20stroke%3D%22rgba(0,0,0,0.314)%22%20stroke-width%3D%221.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20fill-rule%3D%22nonzero%22%20%2F%3E%3C%2Fsvg%3E
    
    */

    margin: 0;
    font-family: "Arvo", serif;
}
#home-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#home-name {
    margin: 1rem;
    font-family: "Kaushan Script"; 
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: -0.8rem;

    display: flex;
    justify-content: center;
    cursor: default;
}
#home-buttons {
    display: flex;
    justify-content: center;
}
#home-button-doodles,
#home-button-posters,
#home-button-coding,
#home-button-music,
#home-button-photos,
#home-button-thumbnails {

    margin: 0.5rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #00000000;

    border: 1px solid #000000;
    border-radius: 100rem;

    font-family: "Arvo", serif;
    font-size: 2rem;
    color: #00000000;
    max-width: 0;
    min-width: 0;
    

}
#home-button-doodles:hover,
#home-button-posters:hover,
#home-button-coding:hover,
#home-button-music:hover,
#home-button-photos:hover,
#home-button-thumbnails:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #ffffff;
    font-size: 2rem;
    color: #ffffff;
    transition: 400ms;
    font-style: none;
    text-decoration: none; 
}
#ref-home-container {
    display: flex;
    justify-content: center;

}
#ref-home-button {
    margin: 0.5rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #00000000;
    border: 1px solid #ffffff;
    border-radius: 100rem;
    font-family: "Arvo", serif;
    font-size: 2rem;
    color: #ffffff00;
    text-decoration: none;
    transition: 400ms;
    display: inline-flex;
    max-width: 0;
}
#ref-home-button:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    transition: 400ms;
    animation: ref-home-animation 20s;
}
@keyframes ref-home-animation {
    50% {
        color:#00000030
    }
    100% {
        color:#000000
    }
}
#heading-1-top {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 6rem;
    font-weight: bold;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
#doodle-imgs {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

}

#doodle-img-1,#doodle-img-2,#doodle-img-3,#doodle-img-4,#doodle-img-5,
#doodle-img-6,#doodle-img-7,#doodle-img-8,#doodle-img-9,#doodle-img-10,
#doodle-img-11,#doodle-img-12,#doodle-img-13,#doodle-img-14,#doodle-img-15,
#doodle-img-16,#doodle-img-17,#doodle-img-18,#doodle-img-19,#doodle-img-20,
#doodle-img-21,#doodle-img-22,#doodle-img-23,#doodle-img-24,#doodle-img-25,
#doodle-img-26,#doodle-img-27,#doodle-img-28{
    max-width: 15rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px #00000083;
}
#doodle-img-1:hover,#doodle-img-2:hover,#doodle-img-3:hover,#doodle-img-4:hover,#doodle-img-5:hover,
#doodle-img-6:hover,#doodle-img-7:hover,#doodle-img-8:hover,#doodle-img-9:hover,#doodle-img-10:hover,
#doodle-img-11:hover,#doodle-img-12:hover,#doodle-img-13:hover,#doodle-img-14:hover,#doodle-img-15:hover,
#doodle-img-16:hover,#doodle-img-17:hover,#doodle-img-18:hover,#doodle-img-19:hover,#doodle-img-20:hover,
#doodle-img-21:hover,#doodle-img-22:hover,#doodle-img-23:hover,#doodle-img-24:hover,#doodle-img-25:hover,
#doodle-img-26:hover, #doodle-img-27:hover,#doodle-img-28:hover {
    cursor: default;
    scale: 0.975;
    transition: 200ms ease;

}


  }
  /* Default styles: hide the message */
  .incompatible-message {
    display: none;
    background-color: #330000;
    color: #ff0000;
    padding: 0.5rem;
    border: 0.25rem solid #ff000050;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

@media (pointer: none) {

    /* For devices without a pointer (cursors)*/

    .incompatible-message {display: block;}
    #body2 {opacity: 0;}
    body {background-color: #1e1e1e;}
}

@media (pointer: coarse) {

    /* For devices with coarse pointers (cursors)*/

    .incompatible-message {display: block;}
    #body2 {opacity: 0;}
    body {background-color: #1e1e1e;}
}
