
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5rem;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #00a9f7;
  }