#lsmp-s2-img-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}#lsmp-s2-img{
    max-width: 90%;
    margin: 1rem;
    border-radius: 0rem;
    box-shadow: 0px 0px 20px 0px #00000083;
}#lsmp-s2-img:hover{
    cursor: default;
    transition: 200ms ease;
}@media (pointer: fine) {#lsmp-s2-img:hover {scale: 0.95;}}