#tpBox {
    border: 0.25rem solid #222222;
    background-color: #171717;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    gap: 10px; 
}

#tpBox:hover {
    background-color: #222222;
}

#tpImg {
    width: 10rem;
    height: 10rem;
    border: 0.25rem solid #222222;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}


#tpTitle {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
} #tpCredits {
    text-align: left;
    font-size: 1rem;
}#tpDownload {
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    transition: all 200ms ease;
    width: 2.5rem;
    height: 2.5rem;
}

#tpDownload:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #4160e8;
    cursor: pointer;
}

#tpDownload .material-symbols-outlined {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}