@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');




audio {
    padding: 1rem;
}audio::-webkit-media-controls-current-time-display {
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
}audio::-webkit-media-controls-time-remaining-display {
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
} 



