@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
    background-color: #1a1a1a;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#glitch-text {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 120px;
    filter: blur(0px);
    transition: 165ms;
    padding: 0px;
    margin: 0px;
    
}
#glitch-text:hover {
    text-shadow: 4.625px 2px 1px #0facfb, -4.625px -2px 1px #cc0f25;
    cursor: default;
}
#ref-home-container {

margin: 0;
margin-top: 10rem;


}#ref-home-button {
    position: absolute;
    
    margin: 4rem;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #00000000;
    border: 1px solid #000000;
    border-radius: 100rem;
    font-family: "Arvo", serif;
    font-size: 2rem;
    color: #ffffff00;
    text-decoration: none;
    transition: 400ms;


    max-width: 0;
    
    scale: 1.5;
}#ref-home-button:hover {
    min-width: fit-content;
    cursor: pointer;
    border: 1px solid #ffffff;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    transition: 400ms;
    animation: ref-home-animation 20s;
}@keyframes ref-home-animation {
    50% {
        color:#ffffff30
    }
    100% {
        color:#ffffff
    }
}