
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Roboto:wght@900&display=swap');
body {
    background-color: #1a1a1a;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

  #bouncyText h1 {
    display: inline-block;
    text-shadow: 9px 9px 0px#6a6a6ca8;

    color: #ffffff;
  }
  
  #t1 {
    animation: vertical 2.5s infinite alternate ease-in-out;

  }

  
  #t2 {
    
    animation: vertical 3s infinite alternate -0.5s;
  }
  
  #t3 {
    animation: vertical 2s infinite alternate ease-in-out 0.5s;
  }
  
  #t4 {
    animation: vertical 3.5s infinite alternate -1s;
  }
  
  #t5 {
    animation: vertical 3s infinite alternate 0.2s;
  }
  
  
  #bouncyText {
    font-size: 100px;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
  }
  
  @keyframes vertical {
    from {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(33px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @keyframes horizontal {
    from {
        transform: translateX(0px);
      }
    50% {
        transform: translateX(-25px);
      }
    to {
        transform: translateX(0px);
      }
  }

  #ref-home-container {

    margin: 0;
    margin-top: 10rem;
    
    
    }#ref-home-button {
        position: absolute;
        
        margin: 4rem;
        padding: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #00000000;
        border: 1px solid #000000;
        border-radius: 100rem;
        font-family: "Arvo", serif;
        font-size: 2rem;
        color: #ffffff00;
        text-decoration: none;
        transition: 400ms;
    
    
        max-width: 0;
        
        scale: 1.5;
    }#ref-home-button:hover {
        min-width: fit-content;
        cursor: pointer;
        border: 1px solid #ffffff;
        font-size: 2rem;
        color: #ffffff;
        text-decoration: none;
        transition: 400ms;
        animation: ref-home-animation 20s;
    }@keyframes ref-home-animation {
        50% {
            color:#ffffff30
        }
        100% {
            color:#ffffff
        }
    }