main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}math {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 2rem;
}

#img-example {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  max-width: 90%;
}#img-example:hover {
  scale: 0.95;
  transition: 200ms ease-in-out;
}@media (pointer: fine) {#img-example {max-width: none;}}
#img-example-2 {
  background-color: #1a1a1a;
  padding: 0rem;
  border-radius: 1rem;
  margin: 1rem;
  max-width: 90%;
}#img-example-2:hover {
  scale: 0.95;
  transition: 200ms ease-in-out;
}

  


#content-warning-1 /* For overlaping topics */{
  font-weight: bold;
  color:  #0074aa;
  background-color: #00a9f7;
  padding: 1rem;
  text-align: center;
  border: 0.25rem solid #0074aa;
  border-radius: 1rem;
  margin: 0;
  font-size: 1.25rem
}

#text-align {text-align: center;}

  
  


  
  
  
  
  